* {
    /*font-family: "funinn",YouYuan, Monospace;*/
    font-family: "Microsoft JhengHei";
    font-size: clamp(1rem, 2.5vw, 1.1rem);
    justify-content: center; /* 水平置中 */
    align-items: center; /* 垂直置中 */
    font-weight: 500;
}

h3 {
    font-size: clamp(1rem, 2.5vw, 2rem);
    color: #350E51;
    font-weight: 700;
    background-color: rgba(184,193,236,0.8);
    text-align: center;
    padding: 8px;
    border-radius: 8px;
    height: 60px;
    text-align: center;
}

    h3:hover {
        font-size: clamp(1rem, 2.5vw, 2rem);
        background-color: rgba(171,209,198, 0.8);
        border-radius: 8px;
        color: #004643;
        height: 60px;
        font-weight: 700;
        text-align: center;
        padding: 8px;
    }

.table {
    height: 100%;
    width: 100%;
    table-layout: fixed;
    border-radius: 8px;
    background-color: #FFFFFE;
    margin: 0 auto;
}

table.table tr th {
    text-align: center; /* 水平居中 */
    vertical-align: middle; /* 垂直居中 */
    font-weight: 700;
    background-color: rgba(184,193,236,0.8); /* 更改活動tab標籤的背景顏色 */
    color: #350E51; /* 更改活動tab標籤的文字顏色 */
    font-size: 1.4rem;
}

table.table tr td {
    text-align: center; /* 水平居中 */
    vertical-align: middle; /* 垂直居中 */
}

table.table tbody tr :hover {
    background-color: rgba(171,209,198, 0.6);
    color: #004643;
    text-align: center; /* 水平居中 */
    vertical-align: middle; /* 垂直居中 */
    font-weight: 700;
}


.form-field {
    justify-content: center; /* 水平居中 */
    vertical-align: middle; /* 垂直居中 */
    align-items: center; /* 垂直居中 */
    text-align: left;
    font-weight: 700;

}

    .form-field td {
        font-weight: 700;
        justify-content: center; /* 水平居中 */
        vertical-align: middle; /* 垂直居中 */
        align-items: center; /* 垂直居中 */
        text-align: center;
    }
.field-tr  {
    width: calc(100% / 8);

}
.first_selected {
    background-color: rgba(184,193,236,0.8);
    border: 0px;
    width: 100px;
    border-radius: 10px;
    color: #350E51;
}

.previous_selected {
    background-color: rgba(184,193,236,0.8);
    border: 0px;
    width: 100px;
    border-radius: 10px;
    margin: 10px;
    color: #350E51;
}

.selected {
    background-color: rgba(171,209,198, 0.6);
    border-radius: 20px;
    border: 0px;
    width: 100px;
    border-color: rgba(171,209,198, 0.6);
    color: #004643;
}

.non_selected {
    width: 100px;
    background-color: #FFFFFE;
    border: 0px;
}

.next_selected {
    background-color: rgba(184,193,236,0.8);
    border: 0px;
    width: 100px;
    border-radius: 10px;
    color: #350E51;
    margin: 10px;
}

.last_selected {
    background-color: rgba(184,193,236,0.8);
    border: 0px;
    width: 100px;
    border-radius: 10px;
    color: #350E51;
}
.btn_select {
    background-color: rgba(184,193,236,0.8);
    border-radius: 8px;
    border: 3;
    border-color: rgba(53,14,81,0.6);
    color: #350E51;
    font-weight: 700;
    cursor: pointer;
    height: 50px;
    width: 80px
}

    .btn_select:hover {
        background-color: rgba(171,209,198, 0.6);
        border-radius: 8px;
        border: 3;
        border-color: #004643;
        color: #004643;
        height: 50px;
        font-weight: 700;
        width: 80px
    }
.btn_add {
    background-color: rgba(171,209,198, 0.6);
    border-radius: 8px;
    border: 3;
    border-color: #004643;
    color: #004643;
    height: 50px;
    font-weight: 700;
    width: 80px
}
    .btn_add:hover {
        background-color: rgba(184,193,236,0.8);
        border-radius: 8px;
        border: 3;
        border-color: rgba(53,14,81,0.6);
        color: #350E51;
        font-weight: 700;
        cursor: pointer;
        height: 50px;
        width: 80px
    }
.btn_cancel {
    background-color: rgba(171,209,198, 0.6);
    border-radius: 8px;
    border: 3;
    border-color: #004643;
    color: #004643;
    height: 50px;
    font-weight: 700;
    width: 90px;
    margin: 10px ; /* 垂直方向上增加 10px 的间距 */
}
    .btn_cancel:hover {
        background-color: rgba(184,193,236,0.8);
        border-radius: 8px;
        border: 3;
        border-color: rgba(53,14,81,0.6);
        color: #350E51;
        font-weight: 700;
        cursor: pointer;
        height: 50px;
        width: 90px ;
        margin: 10px ; /* 垂直方向上增加 10px 的间距 */
    }
.btn_save {
    background-color: rgba(184,193,236,0.8);
    border-radius: 8px;
    border: 3;
    border-color: rgba(53,14,81,0.6);
    color: #350E51;
    font-weight: 700;
    cursor: pointer;
    height: 50px;
    width: 80px;
    margin: 10px ; /* 垂直方向上增加 10px 的间距 */
}
    .btn_save:hover {
        background-color: rgba(171,209,198, 0.6);
        border-radius: 8px;
        border: 3;
        border-color: #004643;
        color: #004643;
        height: 50px;
        font-weight: 700;
        width: 80px;
        margin: 10px ; /* 垂直方向上增加 10px 的间距 */
    }