@page
@model DBS.Pages.LoginModel
@{
    ViewData["Title"] = "Log in";
}
<h2>Login</h2>
<form method="post">
    <div>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" />
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" />
    </div>
    <div>
        <label for="confirmPassword">Confirm Password:</label>
        <input type="password" id="confirmPassword" name="confirmPassword" />
    </div>
    <div>
        <button type="submit">Register</button>
    </div>
</form>