* {
    /*font-family: "funinn",YouYuan, Monospace;*/
    font-family: "Microsoft JhengHei";
    font-size: clamp(1rem, 2.5vw, 1.1rem);
    justify-content: center; /* 水平置中 */
    align-items: center; /* 垂直置中 */
    font-weight: 500;
}
.nav-tabs {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; /* 让项目靠左对齐 */
}

.nav-item {
    flex: 0 0 calc(100% / 9); /* 每行最多顯示九個按鈕 */
}
.nav-link {

    background-color: #FFFFFE; /* 更改活動tab標籤的背景顏色 */
    width: 100%;
    height: 100%;
    border-color: rgba(53,14,81,0.6);
    border: 5px;
    font-weight: 700;
}

    .nav-link.active {
        background-color: rgba(184,193,236,0.8); /* 更改活動tab標籤的背景顏色 */
        color: #350E51; /* 更改活動tab標籤的文字顏色 */
        width: 100%;
        height: 100%;
        border-color: rgba(53,14,81,0.6);
        border: 5px;
        font-weight: 700;
    }
    .nav-link:hover {
        background-color: rgba(171,209,198, 0.6);
        color: #004643;
        width: 100%;
        height: 100%;
        border: 5px;
        border-color: #004643;
        font-weight: 700;
    }
.table {
    height: 100%;
    width: 100%;
    table-layout: fixed;
    border-radius: 8px;
    background-color: #FFFFFE;
}

    table.table tr th {
        text-align: center; /* 水平居中 */
        vertical-align: middle; /* 垂直居中 */
        font-weight: 700;
        background-color: rgba(184,193,236,0.8); /* 更改活動tab標籤的背景顏色 */
        color: #350E51; /* 更改活動tab標籤的文字顏色 */
        font-size:1.4rem;

    }


    table.table tr td {
        text-align: center; /* 水平居中 */
        vertical-align: middle; /* 垂直居中 */
    }
table.table tbody tr :hover  {
    background-color: rgba(171,209,198, 0.6);
    color: #004643;
    text-align: center; /* 水平居中 */
    vertical-align: middle; /* 垂直居中 */
    font-weight: 700;
}
.first_selected {
    background-color: rgba(184,193,236,0.8);
    border: 0px;
    width: 100px;
    border-radius: 10px;
    color: #350E51;
}
.previous_selected {
    background-color: rgba(184,193,236,0.8);
    border: 0px;
    width: 100px;
    border-radius: 10px;
    margin: 10px;
    color: #350E51;
}
.selected {
    background-color: rgba(171,209,198, 0.6);
    border-radius: 20px;
    border: 0px;
    width: 100px;
    border-color: rgba(171,209,198, 0.6);
    color: #004643;
}
.non_selected {
    width: 100px;
    background-color: #FFFFFE;
    border: 0px;
}
.next_selected {
    background-color: rgba(184,193,236,0.8);
    border: 0px;
    width: 100px;
    border-radius: 10px;
    color: #350E51;
    margin: 10px;
}
.last_selected {
    background-color: rgba(184,193,236,0.8);
    border: 0px;
    width: 100px;
    border-radius: 10px;
    color: #350E51;
}