
.page[b-ygfwpt5i0q] {
    position: relative;
    display: flex;
    flex-direction: column;
}

.main[b-ygfwpt5i0q] {
    flex: 1;
    /* background-image: linear-gradient(to bottom, #232946, #2e3654, #394463, #445271, #506180);*/
     background-color: #232946;
}
.login-main[b-ygfwpt5i0q]{
    background-color: red;

}
.sidebar[b-ygfwpt5i0q] {
    /*  background-image: linear-gradient(to bottom, #232946, #2e3654, #394463, #445271, #506180);*/
    background-color: #232946;
    box-shadow: 0px 0px 30px 0px rgba(184,193,236,0.8), 0px 0px 10px 0px rgba(184,193,236,0.4); /* 添加亮色阴影和光效 */
    border-right: 2px solid rgba(255, 255, 255, 0.7); /* 设置淡化的边框色 */
    border-radius: 8px;
    flex: 0 0 15%;
}

.top-row[b-ygfwpt5i0q] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-ygfwpt5i0q]  a, .top-row .btn-link[b-ygfwpt5i0q] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-ygfwpt5i0q] {
        overflow: hidden;
        text-overflow: ellipsis;
    }


@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-ygfwpt5i0q] {
        display: none;
    }

    .top-row.auth[b-ygfwpt5i0q] {
        justify-content: space-between;
    }

    .top-row a[b-ygfwpt5i0q], .top-row .btn-link[b-ygfwpt5i0q] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-ygfwpt5i0q] {
        flex-direction: row;
    }

    .sidebar[b-ygfwpt5i0q] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-ygfwpt5i0q] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .main > div[b-ygfwpt5i0q] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
